#contact{
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    background-color: rgba(147, 147, 147, 0.4);
}


.marquee-container{
    background-color: rgba(252, 127, 127,.4);
    margin-top: 10vh;

    height: 20vh;
    width: 100%;
    
    overflow: hidden;
    white-space: nowrap;   

    
    font-size: 8.5em;
}
.marquee-text1{
    height: inherit;
    width: inherit;
    color: blue;
    display: inline-block;
    
    animation: marquee 16s linear infinite;
    /* animation-direction: reverse; */
}
.c {
    margin-right: 40px;
}
@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}


