#contact {
    /* background-color: rgba(147, 147, 147, 0.4); */
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    --contact-form-width: 375px;

}

.marquee-container {
    /* border: 2px solid black; */
    height: 17vh;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    font-size: 6em;
    font-weight: 400;
}
.marquee-text0 {
    /* border: 2px dotted blue; */
    height: 17vh;
    color: black;
    display: inline-block;
    z-index: 1;
    user-select: none;

    animation: marquee0 140s linear infinite;
    animation-direction: reverse;
}
.marquee-text1 {
    color: black;
    display: inline-block;
    z-index: 1;
    user-select: none;
    animation: marquee1 140s linear infinite;
    animation-direction: reverse;
}
@keyframes marquee0 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes marquee1 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}


.contact-form-container {
    /* border: 2px solid orange; */
    height: 73vh;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.ct-container{
    /* border: 3px dotted orange; */
    height: 100%;
    width: var(--contact-form-width);
}
.contact-text {
    /* border: 2px dotted rgb(163, 48, 48); */
    width: var(--contact-form-width);
    /* padding: 40px 0px 35px 0px; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-email {
    /* outline: 2px dotted rgb(255, 234, 41); */
    width: var(--contact-form-width);
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.contact-email label {
    font-size: .9em;
}
.contact-email .fi {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: .9em;
    padding: 5px 5px 5px 10px;
    background-color: #fcd0de;
    border: none;
}
.contact-email textarea {
    width: 100%;
    margin-top: 2px;
    height: 100px;
    resize: none;
    overflow-y: scroll;
    font-size: .9em;
    padding: 5px 5px 5px 10px;
    background-color: #fcd0de;
    border: none;
}
#contact-button {
    /* outline: 2px solid orange; */
    border: none;
    /* width: 100%; */
    border-radius: 1px;
    margin: 10px 0px 20px 3px;
    padding: 10px 20px 10px 20px;

}
#contact-button:hover {
    background-color: black;
    color: #fcd0de;
    transition: background-color 1s, color 1s ease-in-out;
    cursor: pointer;
}


.contact-image-container {
    /* background-color: rgba(56, 180, 221, 0.4); */
    height: 73vh;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact-image {
    outline: 2px solid #1c3613;
    background-color: #fcd0de;
    background-color: white;
    width: var(--contact-form-width);
    height: 535px;

    position: relative;
    top: -45px;
    
    margin-left: 3vw;
    border-radius: 30px;
    z-index: 1;
}



@media only screen and (max-width: 640px) {
    /* .marquee-text0{
        animation: none;
    }
    .marquee-text1{
        animation: none;
    } */
    .contact-form-container{
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        /* margin: 20px; */
        /* border: 1px solid orange; */
    }
    .contact-text{

        height: auto;
        width:100%;
        padding: 20px;
    }
    .contact-email{

        height: auto;
        padding: 20px;
        width:100%;
    }
    .contact-image-container{
        /* outline: 2px solid orange; */
        height: auto;
        width: 100%;
    }
    .contact-image {
        /* outline: 2px solid orange; */
        width: 300px;
        height: 400px;
 
        top: 0;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}