#contact {
    height: 93vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    --contact-form-width: 450px;
}

.marquee-container {
    height: 17vh;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;

    overflow: hidden;
    white-space: nowrap;
    font-size: 6em;
    font-weight: 400;
}
.marquee-text0 {
    color: #1DA1F2;
    display: inline-block;
    z-index: 1;
    user-select: none;
    animation: marquee0 140s linear infinite;
    animation-direction: reverse;
}
.marquee-text1 {
    color: #1DA1F2;
    display: inline-block;
    z-index: 1;
    user-select: none;
    animation: marquee1 140s linear infinite;
    animation-direction: reverse;
}
@keyframes marquee0 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes marquee1 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}


.contact-form-container {
    height: auto;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /* border: 2px solid green; */
}
.ct-container{
    height: auto;
    width: var(--contact-form-width);
}
.contact-text {
    height: 120px;
    width: var(--contact-form-width);

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.2em;
    padding-left: 5px;
}
.contact-email {
    height: auto;
    width: var(--contact-form-width);
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.contact-email label {
    font-size: 1em;
    padding: 5px;
    color: #657786;
}
.contact-email .fi {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 5px 5px 5px 10px;
    background-color: #F5F8FA;
    border: none;
}
.contact-email textarea {
    width: 100%;
    height: 100px;

    margin-top: 2px;
    resize: none;
    overflow-y: scroll;

    font-size: 1em;
    padding: 5px 5px 5px 10px;

    background-color: #F5F8FA;
    border: none;
}
#contact-button {
    border: none;

    background-color: #F5F8FA;
    font-size: 1em;

    border-radius: 10px;
    margin: 10px 0px 20px 0px;
    padding: 10px 20px 10px 20px;
}
#contact-button:hover {
    background-color: #1DA1F2;
    color: #F5F8FA;
    font-size: 1em;
    cursor: pointer;
}


.contact-image-container {
    height: auto;
    width: 50%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.contact-image {
    outline: 2px solid #1c3613;
    background-color: #fcd0de;
    background-color: white;
    width: 400px;
    height: 500px;

    position: relative;

    margin-left: 3vw;
    border-radius: 50%;
    border-radius: 20px;
    z-index: 1;
}



@media only screen and (max-width: 640px) {
    #contact {
        flex-direction: column-reverse;
    }
    .marquee-container{
        display: none;
    }
    .contact-form-container{
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .ct-container{
        width: 100%;
        margin-bottom: 0px;
    }
    .contact-text{
        height: auto;
        width: 100%;
        margin-top: 0px;

        padding-left: 20px;
        padding-right: 20px;
    }
    #contact-button{
        background-color: #F5F8FA;
        color:#14171A;
    }
    .contact-email {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    .contact-image-container{
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .contact-image{
        width: 200px;
        height: 300px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
}