
#contact{
    /* background-color: rgba(147, 147, 147, 0.4); */

    height: 100vh;

    display: flex;
    flex-wrap: wrap;
}

.marquee-container{
    /* background-color: rgba(252, 127, 127,.4);     */
    /* border: 2px solid black; */
    
    height: 20vh;
    width: 100vw;
    
    white-space: nowrap; 
    overflow: hidden;
    
    padding-top: 5vh;
    font-size: 6em;
    font-weight: 400;  
}
.marquee-text0{
    color: black;
    display: inline-block;
    
    animation: marquee0 40s linear infinite;
}
.marquee-text1{
    color: black;
    display: inline-block;

    animation: marquee1 40s linear infinite;
}
/* @keyframes marquee0 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes marquee1 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
} */


.contact-form-container{
    /* border: 2px solid black; */

    height: 80vh;
    width: 50vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-end;

    --contact-form-width: 375px;
}

.contact-text{
    /* border: 2px solid rgb(163, 48, 48); */
    
    width: var(--contact-form-width);
    
    padding: 50px 0px 50px 0px;
    height: 150px;
    

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.contact-email{
    border: 2px solid rgb(255, 234, 41);
    
    width: var(--contact-form-width);

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.contact-email label{
    font-size: .9em;
}
.contact-email .fi{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
}
.contact-email textarea{
    width: 100%;
    margin-top: 2px;
    height: 100px;
    resize: none;
    overflow-y: scroll;
}
#contact-button {
    border: 2px solid orange;
    /* border: none; */
    width: 100%;

    /* border-radius: 8px; */
    margin: 10px 0px 20px 3px;
    padding: 10px 20px 10px 20px;
    
}



.contact-image-container{
    background-color: rgba(56, 180, 221, 0.4);
    height: 80vh;
    width: 50vw;

    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
}

/* .contact-image{
    background-color: rgba(127, 255, 212, 0.4);
    width: 70%;
    height: 100%;

    margin-left: 5%;
    margin-top: -5%;
} */
