#hero{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-container{
    height: 70vh;
    min-height: 510px;
    width: 100%;
    padding-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image{    
    height: 100%;
    width: auto; 
    z-index: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 40px;
    margin-right: 40px;
    
    border-radius: 20px;
    overflow: hidden; 
}
.hero-image img{
    position: relative;
    height: 150%;
    bottom: 10px;
}
.hero-title{
    z-index: 1;
    height: auto;
    width: 440px;    

    position: absolute;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 200px;
    border-radius: 20px;
    background-color: #AAB8C2;
    box-shadow: 0px 0px 4px #657786;
}
.ht{
    width: 100%;
    color: #F5F8FA;
}
.ht.t{
    padding-top: 8px;
    font-size: 1.6em;
    font-weight: 500;
}
.ht.n{
    font-size: 4em;
    font-weight: 500;
}

.title-container{
    height: auto;
    max-width: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* border: 2px solid red; */
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.pb-title{
    height: 100%;
    width: auto;
        
    display: flex;
    justify-content: center;
    align-items: center;
}
.pb-h{
    font-size: 3em;
    font-weight: 400;
}

@media only screen and (max-width: 865px){
    .hero-image{    
        margin-left: 20px;
        margin-right: 20px;
    }
    .title-container{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 640px){
    #hero {
        height: auto;
    }
    .hero-container {
        height: auto;
        align-items: center;
    }
    .hero-image{
        height: 500px;
        margin-top: 80px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .hero-image img{
        height: 190%;
        position: relative;
        bottom: 30px;
        right: 0px;
    }
    .hero-title{
        background: rgb(170, 184, 194);
        margin-top: 0px;
        box-shadow: none;
        width: 70%;
    }
    .ht.t{
        font-size: 1.8em;
        font-weight: 400;
        line-height: 40px;
    }
    .ht.n{
        font-size: 2.4em;
        font-weight: 400;
    }

    .title-container {
        height: auto;
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
    }
    .pb-title {
        height: auto;
        width: auto;

        margin-top: 20px;
    }
    .pb-h{
        font-size: 1.8em;
    }
}

