#hero{
    height: 120vh;
    margin-top: 10vh;
}
.hero-image-container{
    background: rgba(212, 39, 39, 0.4);
    height: 58vh;
}
.hero-image{
    background-color: rgba(205, 140, 44, 0.4);

    height: 58vh;
    max-width: 100%;
    
    margin: 0 auto;
    
    object-fit: cover;
    object-position: center;
}
.hero-name{
    background-color: rgba(247, 237, 38, 0.371);

    position: relative;
    text-align: center;

    /* top: 20vh;
    font-size: 5em;
    padding: 1em;
    color: red; */
}
.hero-pb-container{
    background-color: rgba(137, 221, 41, 0.4);

    height: 32vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.hero-pb{
    background-color: rgba(62, 255, 78, 0.4);
    text-align: center;
    margin-top: 20px;
    /* 
    margin-top: 10vh;
    font-size: 2em; */
}
.pb-text{
    height: 30vh;
    background-color: rgba(52, 192, 136, 0.4);
}


@media only screen and (max-width: 600px){
    .hero-name{
        top: 15vh;

        font-size: 5em;
        padding: 1em;
        color: red;
    }
    .hero-pb{
        margin-top: 8vh;
        font-size: 1.8em;
        /* padding: 20px; */
    }
    .pb-text{
        padding: 20px 30px 0px 30px;
        font-size: 1.5em;
    }
}