#hero{
    height: 100vh;
    width: 100%;
}
.hero-container{
    height: 60vh;
    margin-top: 10vh;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    
}
.hero-image{    
    height: 60vh;
    width: 100%;
    position: absolute;
    z-index: 0;
    overflow: hidden;
    
    /* border: 20px solid dodgerblue; */
}
.hero-image img{
    height: 100%;
    height: 230%;
    width: 100%;
    object-fit: contain;
    position: relative;
    bottom: 0px;
    bottom: 200px;

    /* right: 200px; */
}



.hero-title{
    height: 160px;
    width: 400px;    
    display: flex;
    flex-direction: column;
    color: #121606;
    color: white;
    z-index: 1;
    /* border: 10px solid #16c024; */
}
.ht{
    font-size: 1.3em;
    font-weight: 400;
    padding-bottom: 10px;
    /* border: 10px solid #5d1c6e; */
}
.hn{
    font-size: 3.5em;
    font-weight: 500;
    /* border: 2px solid #000000; */
}


.title-container{
    z-index: 1;
    height: 30vh;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 3px solid rgba(104, 41, 221); */
}
.pb-title{
    height: 50%;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
    /* width: 50%; */
    /* border: 2px solid rgb(255, 62, 239); */
}
.pb-h{
    font-size: 2em;
    font-weight: 400;
}
.pb-text{
    height: 50%;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid cyan; */
}
.pb-t{
    font-size: 1em;
}






/* 
@media only screen and (max-width: 600px){
    .hero-title{
        color: red;
        width: 400px;
        
        font-size: 5em;
        height: 220px;
        z-index: 1;
    }
    .pb-title{
        font-size: 1.8em;
    }
    .pb-text{
        font-size: 1.5em;
    }
*/