#hero{
    height: 95vh;
    display: flex;
    flex-direction: column;
}
.hero-container{
    height: 70vh;
    width: 100%;
    
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid orange; */
    /* --hero-container-color: #babac0; */
    background-color: var(--hero-container-color);
}
.hero-image{    
    height: 100%;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
 

    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 15px;
    /* border: 10px solid green; */
    /* border: 20px solid var(--hero-container-color); */
    
    overflow: hidden; 
}
.hero-image img{
    height: 150%;
    position: relative;
    bottom: 10px;
}
.hero-title{
    z-index: 1;
    height: auto;
    width: 440px;    

    position: absolute;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 200px;
    border-radius: 20px;
    background-color: #AAB8C2;
    box-shadow: 0px 0px 4px #657786;
}
.ht{
    width: 100%;
    color: #F5F8FA;
}
.ht.t{
    padding-top: 8px;
    font-size: 1.6em;
    font-weight: 500;
}
.ht.n{
    font-size: 4em;
    font-weight: 500;
}


.title-container{
    z-index: 1;
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */

    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 3px solid rgba(104, 41, 221); */
}
.pb-title{
    height: 100%;
    
    width: 640px;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    /* border: 2px solid rgb(255, 62, 239); */
}
.pb-h{
    font-size: 2em;
    font-weight: 400;
}
/* .pb-text{
    height: 50%;

    margin-left: 40px;
    margin-right: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid cyan;
}
.pb-t{
    color: #657786;
    font-size: 1.4em;
} */







@media only screen and (max-width: 640px){
    #hero {
        height: auto;
        --hero-mobile-height: 500px;
    }
    .hero-container {
        margin-top: 80px;
        height: auto;
        /* border: 2px solid red; */
        align-items: center;
    }
    .hero-image{
        height: 500px;
        /* border: 10px solid green; */
    }
    .hero-image img{
        height: 190%;
        position: relative;
        bottom: 30px;
        right: 0px;
    }
    .hero-title{
        /* border: 2px solid red; */
        background: rgb(170, 184, 194);
        margin-top: 0px;
        box-shadow: none;
        width: 70%;
    }
    .ht.t{
        font-size: 1.8em;
        font-weight: 400;
        line-height: 40px;
    }
    .ht.n{
        font-size: 2.4em;
        font-weight: 400;
    }


    .title-container {
        height: auto;
    }
    .pb-title {
        height: auto;
        width: 90%;
        margin-top: 20px;
        /* border: 2px solid red; */
    }
    .pb-h{
        /* background-color: blue; */
        font-size: 1.2em;
        padding: 0px 20px;
    }
    .pb-text{
        /* border: 2px solid red; */
        height: auto;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 0px 10px;       
    }
    .pb-t{
        /* background-color: blue; */
        font-size: 1em;
    }
}
