#hero{
    height: 100vh;
}

.hero-container{
    /* border: 2px solid #d42727; */

    height: 70vh;  

    margin-top: 0vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
.hero-image{    
    /* border: 2px solid dodgerblue; */
    background-color: #fcd0de;

    position: absolute;
    height: inherit;
    width: 100vw;

    object-fit: none;
    /* object-position: 55% 40%; */
    z-index: 0;
}
.hero-title{
    /* border: 2px solid #16c024; */
    
    height: 160px;
    width: 400px;

    
    display: flex;
    flex-direction: column;
    
    color: rgb(255, 255, 119);
    z-index: 1;
}
.ht{
    /* border: 2px solid #5d1c6e; */

    font-size: 1em;
    padding-bottom: 10px;
}
.hn{
    /* border: 2px solid #000000; */

    font-size: 3em;
    font-weight: 500;
}


.title-container{
    /* border: 3px solid rgba(104, 41, 221); */
    
    height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
.pb-title{
    /* border: 2px solid rgb(255, 62, 239); */
    
    height: 50vh;
    width: 50vw;
    width: 650px;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
}
.pb-h{
    font-size: 2em;
    font-weight: 400;
}

.pb-text{
    /* border: 2px solid cyan; */
    height: 50vh;
    width: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.pb-t{
    font-size: 1em;
}

.spotlight-holder{
    z-index: 2;
}
.spotlight1{
    width: 150px;
    height: 150px;
    box-shadow: 
        3px 0px 20px #faffc3,
        0px 3px 20px #ffc3fd,
        0px 0px 10px #ffffff
        ;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    left: -175px;
    top: 100px;
    background-color: rgba(255, 154, 223, 0.4);

    animation: bubble 30s linear infinite;
    animation-delay: 1.24s;
    border: none;
}
.spotlight1:hover{
    background-color: rgba(255, 154, 223, 0.25);
    box-shadow: 0px 0px 30px #ffdffe;
    animation-play-state: paused;
}

.spotlight2{
    width: 100px;
    height: 100px;
    box-shadow: 
        2px 0px 30px #affee4,
        -2px 0px 30px #dafdff,
        0px 2px 30px #f9ffc3,
        0px -2px 0px #ffffff
        ;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    left: -175px;
    
    top: 180px;
    background-color: rgba(91, 196, 203, 0.4);

    animation: bubble 40s linear infinite;
    animation-delay: 5.13s;

    border: none;
}
.spotlight2:hover{
    background-color: rgba(91, 196, 203, 0.25);
    box-shadow: 0px 0px 30px #affee4;
    animation-play-state: paused;
  
}

.spotlight3{
    width: 60px;
    height: 60px;
    box-shadow: 
        1px 0px 30px #afe6fe,
        -1px 0px 30px #e0ffda,
        0px 1px 30px #ffeec3,
        0px -1px 0px #ffffff
        ;

    border-radius: 50% 50% 50% 50%;
    position: absolute;
    left: -175px;
    
    top: 160px;
    background-color: rgba(255, 255, 47, 0.4);

    animation: bubble 30s linear infinite;
    animation-delay: 9.78s;
    border: none;
}
.spotlight3:hover{
    background-color: rgba(255, 255, 47, 0.25);
    box-shadow: 0px 0px 30px #ffeec3;
    animation-play-state: paused;
}


@keyframes bubble{
    0% {transform: translate(0px, 0px);}
    10% {transform: translate(200px, -120px);}
    20% {transform: translate(400px, -240px);}
    30% {transform: translate(600px, 210px);}
    40% {transform: translate(800px, 210px);}
    50% {transform: translate(1000px, -100px);}
    60% {transform: translate(1200px, -70px);}
    70% {transform: translate(1400px, -155px);}
    80% {transform: translate(1600px, 0px);}
    90% {transform: translate(1800px, -230x);}
    100% {transform: translate(2000px, -60px);}
}





.pop{
    display: none;
}


/* 
@media only screen and (max-width: 600px){
    .hero-title{
        color: red;
        width: 400px;
        
        font-size: 5em;
        height: 220px;
        z-index: 1;
    }
    .pb-title{
        font-size: 1.8em;
    }
    .pb-text{
        font-size: 1.5em;
    }
*/