.spotlight{
    z-index: 4;
    display: show;
    position: absolute;
    border: none;
    border-radius: 50% 50% 50% 50%;
}


.spotlight.l{
    left: -150px;
    top: 5%;
    height: 150px;
    width: 150px;
    animation: bubble 30s linear infinite;

    background-color: rgba(255, 255, 255, 0);
    box-shadow: 
        0px 0px 10px rgb(219, 218, 218),
        inset 0px 10px 30px 5px rgb(255, 255, 255);
    -webkit-box-shadow:     
        0px 0px 10px rgb(219, 218, 218),
        inset 0px 10px 30px 5px rgb(255, 255, 255);
    -moz-box-shadow: 
        0px 0px 10px rgb(219, 218, 218),
        inset 0px 10px 30px 5px rgb(255, 255, 255);
}
.spotlight.l:hover{
    animation-play-state: paused;

    background-color: rgba(255, 160, 225, 0.3);
    box-shadow:
        0px 0px 30px #efd4e6,
        inset 0px 10px 30px 5px rgb(249, 216, 236);
    -webkit-box-shadow: 
        0px 0px 30px #efd4e6,
        inset 0px 10px 30px 5px rgb(249, 216, 236);
    -moz-box-shadow: 
        0px 0px 30px #efd4e6,
        inset 0px 10px 30px 5px rgb(249, 216, 236);
    outline: 2px solid white;
}


.spotlight.m{
    left: -150px;
    top: 16%;
    height: 110px;
    width: 110px;
    animation: bubble 40s linear infinite;
    animation-delay: 1.33s;
    
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 
        0px 0px 10px rgb(219, 218, 218),
        inset 0px 10px 25px 5px rgb(255, 255, 255);
    -webkit-box-shadow:     
        0px 0px 10px rgb(219, 218, 218),
        inset 0px 10px 25px 5px rgb(255, 255, 255);
    -moz-box-shadow: 
        0px 0px 10px rgb(219, 218, 218),
        inset 0px 10px 25px 5px rgb(255, 255, 255);
}
.spotlight.m:hover{
    animation-play-state: paused;

    background-color: rgba(91, 196, 203, .5);
    box-shadow: 
        0px 0px 30px #affee4,
        inset 0px 10px 25px 5px rgb(192, 248, 251);
    -webkit-box-shadow:
        0px 0px 25px #affee4,
        inset 0px 10px 25px 5px rgb(192, 248, 251);
    -moz-box-shadow:
        0px 0px 25px #affee4,
        inset 0px 10px 25px 5px rgb(192, 248, 251);
    outline: 2px solid white;
} 

.spotlight.s{
    left: -150px;
    height: 80px;
    width: 80px;
    top: 12%;
    animation: bubble 28s linear infinite;
    animation-delay: 4.29s;

    background-color: rgba(255, 255, 255, 0);
    box-shadow: 
        0px 0px 10px rgb(219, 218, 218),
        inset 0px 5px 12px 0px rgb(255, 255, 255);
    -webkit-box-shadow:     
        0px 0px 10px rgb(219, 218, 218),
        inset 0px 5px 12px 0px rgb(255, 255, 255);
    -moz-box-shadow: 
        0px 0px 10px rgb(219, 218, 218),
        inset 0px 5px 12px 0px rgb(255, 255, 255);
}
.spotlight.s:hover{
    animation-play-state: paused;

    background-color: rgba(255, 255, 47, 0.3);
    box-shadow: 
        0px 0px 30px #f1feaf,
        inset 0px 5px 12px 0px rgb(251, 251, 211);
    -webkit-box-shadow:
        0px 0px 30px #f1feaf,
        inset 0px 5px 12px 0px rgb(251, 251, 211);
    -moz-box-shadow:
        0px 0px 30px #f1feaf,
        inset 0px 5px 12px 0px rgb(251, 251, 211);
    outline: 2px solid white;
}

@keyframes bubble{
    0% {transform: translate(0vw, 0%);}
    5% {transform: translate(5vw, -1%);}
    20% {transform: translate(20vw, 7%);}
    40% {transform: translate(40vw, 0%);} 
    60% {transform: translate(60vw, 8%);} 
    80% {transform: translate(80vw, 0%);}
    90% {transform: translate(90vw, 2%);}
    95% {transform: translate(95vw, 4%);}
    100% {transform: translate(100vw, -5%); margin-left: 150px;}
}

.pop {
    display: none;
}


@media only screen and (max-width: 640px){
    .spotlight {
        display: none;
    }
}