.spotlight1{
    /* z-index: 3; */
    position: absolute;
    left: -150px;
    top: 100px;
    height: 150px;
    width: 150px;

    border: none;
    border-radius: 50% 50% 50% 50%;
    background-color: rgba(255, 154, 223, .8);
    box-shadow: 
    2px 0px 30px #ffffff,
    -2px 0px 30px #fdfdfd,
    0px 2px 30px #f5c3f7,
    0px -2px 0px #fed3ff;
    animation: bubble 30s linear infinite;
}
.spotlight1:hover{
    background-color: rgba(255, 154, 223, 0.6);
    outline: 2px dotted white;
    animation-play-state: paused;
}

.spotlight2{
    position: absolute;
    left: -150px;
    top: 180px;
    height: 100px;
    width: 100px;
    
    border: none;
    border-radius: 50% 50% 50% 50%;
    background-color: rgba(91, 196, 203, 0.8);
    box-shadow: 
        2px 0px 30px #affee4,
        -2px 0px 30px #dafdff,
        0px 2px 30px #f9ffc3,
        0px -2px 0px #ffffff;
    animation: bubble 40s linear infinite;
    animation-delay: 1.33s;
}
.spotlight2:hover{
    background-color: rgba(91, 196, 203, .3);
    outline: 2px dotted white;
    animation-play-state: paused;
}

.spotlight3{
    position: absolute;
    left: -150px;
    top: 160px;
    height: 60px;
    width: 60px;

    border: none;
    border-radius: 50% 50% 50% 50%;
    background-color: rgba(255, 255, 47, 0.8);
    box-shadow: 
    2px 0px 30px #f1feaf,
    2px 0px 30px #f4f4c0,
    0px 2px 30px #fdffcb,
    0px -2px 0px #ffffff;
    animation: bubble 30s linear infinite;
    animation-delay: 4.29s;
}
.spotlight3:hover{
    background-color: rgba(255, 255, 47, 0.7);
    outline: 2px dotted white;
    animation-play-state: paused;
}

@keyframes bubble{
    0% {transform: translate(0vw, 0%);}
    5% {transform: translate(5vw, 0%);}
    10% {transform: translate(10vw, -20%);}
    20% {transform: translate(20vw, 10%);}
    25% {transform: translate(25vw, -10%);}

    38% {transform: translate(38vw, 35%);}
    40% {transform: translate(40vw, 29%);}

    46% {transform: translate(46vw, 42%);}
    50% {transform: translate(50vw, 42%);}
    59% {transform: translate(59vw, 42%);}

    66% {transform: translate(66vw, 30%);}
    77% {transform: translate(77vw, 35%);}
    87% {transform: translate(87vw, 15%);}

    95% {transform: translate(95vw, 10%);}
    100% {transform: translate(100vw, 15%); margin-left: 150px;}
}

.pop{
    display: none;
}


