#footer{
    height: 40vh;
    width: 100%;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: flex;
    text-align: center;
    --height: 25vh;
    --width: 230px;
    padding-top: 40px;
}
.resume-footer{
    /* outline: 2px dashed coral; */
    width: var(--width);
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.rf{
    /* border: 2px solid coral; */
    height: 75px;
    width: 100%;
    font-size: 2em;
    text-decoration: papayawhip wavy underline;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-footer{
    /* outline: 2px dashed coral; */
    height: var(--height);
    width: var(--width);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ff{
    /* border: 1px solid coral; */
    width: 100%;
}
.ff.top{
    height: 75px;
    width: 100%;
    font-size: 2.3em;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ff.bottom{
    height: calc(100% - 75px);
    width: 100%;
    font-size: .9em;
}
.ff-link{
    /* border: 1px solid coral; */
    overflow: auto;
    width: 100%;
    padding: 5px;
    color: #e4e4e4;
}


.link-footer{
    /* outline: 2px dashed coral; */
    width: var(--width);
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.lf.top{
    /* border: 2px solid coral; */
    height: 75px;
    width: 100%;
    font-size: 2.3em;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lf.bottom{
    /* border: 1px solid coral; */
    width: 100%;
    height: calc(100% - 75px);
    font-size: .9em;
    color: #e4e4e4;
}
.lf-link{
    /* border: 1px solid coral; */
    width: 100%;
    padding: 5px;
}



.self-footer{
    outline: 2px dashed whitesmoke;
    width: calc(var(--width) + 50px);
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sf.top{
    /* border: 2px solid coral; */
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3em;
    color: whitesmoke;
}
.sf.bottom{
    /* border: 3px solid coral; */
    width: 100%;
    color: whitesmoke;
    font-size: 1em;
}
.sf-link{
    /* border: 1px solid coral; */
    width: 100%;
    padding: 2px;
}