#footer{
    height: 300px;
    width: 100%;
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: flex;
    text-align: center;

    --width: 230px;
    padding-top: 40px;
}
.resume-footer{
    height: auto;
    width: var(--width);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-left: 40px;
}
.rf{
    height: 75px;
    width: 100%;
    font-size: 2em;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rf.top a{
    color: whitesmoke;
    text-decoration: #1DA1F2 wavy underline;    
}
.rf.top a:visited{
    color: whitesmoke;
}
.rf.top a:hover{
    transform: scale(1.2);
    text-decoration: 5px #1DA1F2 underline;
}
.rf.bottom{
    color: black;
    text-decoration: 5px #363636 line-through;  
    user-select: none; 
}


.follow-footer{
    height: auto;
    width: var(--width);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ff{
    width: 100%;
}
.ff.top{
    height: 75px;
    width: 100%;
    font-size: 2.3em;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ff.bottom{
    height: calc(100% - 75px);
    width: 100%;
    font-size: 1.05em;
}
.ff-link{
    overflow: auto;
    width: 100%;
    padding: 5px;
    color: whitesmoke;
}
.follow-footer a{
    color: whitesmoke;
}
.follow-footer a:visited{
    color: whitesmoke;
}
.follow-footer a:hover{
    text-decoration: 2px #1DA1F2 underline;
    /* color:#1DA1F2; */

    /* background-color: black; */
    /* border-radius: 10px; */
}




.link-footer{
    width: var(--width);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.lf.top{
    height: 75px;
    width: 100%;
    font-size: 2.3em;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lf.bottom{
    width: 100%;
    height: calc(100% - 75px);
    font-size: 1.05em;
    color: whitesmoke;
}
.lf-link{
    width: 100%;
    padding: 5px;
}
.link-footer a{
    color: whitesmoke;
}
.link-footer a:visited{
    color: whitesmoke;
}
.link-footer a:hover{
    text-decoration: 2px #1DA1F2 underline;
}


.self-footer{
    width: calc(var(--width) + 50px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 40px;
}
.sf.top{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3em;
    color: whitesmoke;
}
.sf.bottom{
    width: 100%;
    color: whitesmoke;
    font-size: 1.05em;
}
.sf-link{
    width: 100%;
    padding: 2px;
}



@media only screen and (max-width: 810px){
    #footer{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .resume-footer{
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0;
    }
    .follow-footer{
        width: 100%;
        margin-bottom: 40px;
    }
    .link-footer{
        width: 100%;
        margin-bottom: 40px;
    }
    .self-footer{
        margin-right: 0;
        width: 100%;
        margin-bottom: 60px;
    }
}