#footer{
    height: 30vh;
    width: 100%;
    background-color: rgb(93, 93, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    --height: 25vh;
    --width: 20%;
}
.resume-footer{
    border: 2px solid rgba(127, 255, 212);
    width: var(--width);
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.rf{
    height: 75px;
    width: 100%;
    border: 2px solid orange;
    font-size: 2em;
    text-decoration: underline;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-footer{
    border: 2px solid limegreen;
    height: var(--height);
    width: var(--width);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ff{
    border: 1px solid orange;
    width: 100%;
}
.ff.top{
    height: 75px;
    width: 100%;
    font-size: 2.3em;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ff.bottom{
    height: calc(100% - 75px);
    width: 100%;
    font-size: .9em;
}
.ff-link{
    width: 100%;
    padding: 5px;
    border: 1px solid pink;
    color: #e4e4e4;
}


.link-footer{
    border: 2px solid rgb(255, 208, 127);
    width: var(--width);
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.lf.top{
    border: 2px solid limegreen;
    height: 75px;
    width: 100%;
    font-size: 2.3em;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lf.bottom{
    border: 1px solid pink;
    height: calc(100% - 75px);
    font-size: .9em;
    color: #e4e4e4;
}




.self-footer{
    background-color: rgba(255, 246, 127, 0.4);
    width: var(--width);
    height: var(--height);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sf{
    background-color: rgba(0, 0, 255, 0.4);
    border: 2px solid orange;
    padding: 10px;
}
