#project-section-b{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: chocolate;
}
.psb-left-container{
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 40px;
    padding-right: 40px;

    height: 75vh;
    min-height: 500px;
    width: calc(50% - 40px);

    background-color: blanchedalmond;
    border-radius: 20px 0px 0px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.psb-info-container{
    height: auto;
    width: 450px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
}
.psb-title{
    font-size: 3em;
}
.psb-descript{
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: 300;
}
.psb-text{
    font-size: 1.2em;
    text-align: start;
}
.psb-link-container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.psb-button{
    font-size: 1.3em;

    width: 125px;
    height: 55px; 
    background-color: #14171A;
    
    color: #F5F8FA;

    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: background-color .5s, color .5s ease-in;
}
.psb-button.gh{
    width: auto;
    
    border: 2px solid #F5F8FA;
    border-radius: 10px 0px 0px 10px;
    border-style: solid none solid solid;
}
.psb-button.ll{
    width: auto;
    border: 2px solid #F5F8FA;
    border-radius: 0px 10px 10px 0px;
    border-style: solid solid solid none;
}
.psb-button:hover{
    background-color:rgb(255, 140, 120);
}

.psb-right-container{
    margin-top: 40px;
    margin-right: 40px;

    height: auto;
    width: calc(50% - 40px);
    background-color: blanchedalmond;
    border-radius: 0px 20px 20px 0px;
    outline: 2px solid white;
}
.psb-right-image-container{
    height: 75vh;
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden; 
}
.psb-right-image{
    min-height: 400px;
    width: 90%;
    object-fit: cover;
    border-radius: 20px;
}
.psb-right-image:hover{
    outline: 2px solid chocolate;
    cursor: zoom-in;
}
.psb-right-image:active{
    width: 110%;
    height: 100%;
    object-fit: cover;
    cursor: grabbing;
}


@media screen and (max-width: 815px){
    #project-section-b{
        flex-wrap: wrap-reverse;
    }
    .psb-right-container{
        height: auto;
        width: 100%;
        border-radius: 20px 20px 0px 0px;

        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        outline: none;
    }
    .psb-right-image-container{
        height: auto;
        width: inherit;
        min-height: 0;

        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .psb-right-image{
        min-height: 250px;
        width: 100%;
    }
    .psb-right-image:hover{
        outline: none;
        cursor: default;
    }
    .psb-right-image:active{
        width: 100%;
        height: auto;
        cursor: default;
    }

    .psb-left-container{
        height: auto;
        width: 100%;
        min-height: 0;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;

        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        justify-content: center;

        border-radius: 0px 0px 20px 20px;
    }
    .psb-info-container{
        width: 100%;    
    }
    .psb-title{
        padding-top: 10px;
        font-size: 2em;
    }
    .psb-text{
        padding-top: 10px;
        font-size: 1em;    
    }
}

@media screen and (max-width: 420px) {
    .psb-link-container{
        width: 100%;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .psb-button.gh{
        width: 100%;
        height: 75px;
        border-radius: 7px;
        background-color: #F5F8FA;
        border: none;
        color: #14171A;
    }
    .psb-button.ll{
        width: 100%;
        height: 75px;
        border-radius: 7px;
        background-color: #F5F8FA;
        border: none;
        color: #14171A;
    }
    .psb-button:hover {
        background-color:#F5F8FA;
    }
}



