#project-section-d {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: rgb(253, 234, 234);
}
.psd-left-container {
    margin-top: 40px;
    margin-left: 40px;

    height: auto;
    width: calc(50% - 40px);
    background-color: rgb(139,26,28);
    border-radius: 20px 0px 0px 20px;
}
.psd-left-image-container {
    height: 75vh;
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.psd-left-image {
    min-height: 400px;
    width: 90%;
    object-fit: cover;
    border-radius: 20px;
}
.psd-left-image:hover{
    outline: 2px solid gray;
    cursor: zoom-in;
}
.psd-left-image:active{
    width: 110%;
    height: 100%;
    object-fit: cover;
    cursor: grabbing;
}



.psd-right-container {
    margin-top: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;

    height: 75vh;
    min-height: 500px;
    width: calc(50% - 40px);

    background-color: rgb(139,26,28);
    border-radius: 0px 20px 20px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid white;
}
.psd-info-container {    
    height: auto;
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.psd-title {
    font-size: 3em;
}
.psd-descript{
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: 300;
}
.psd-text {
    font-size: 1.2em;
    text-align: start;
}
.psd-link-container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.psd-button {
    width: 125px;
    height: 55px;
    background-color: #14171A;
    color: #F5F8FA;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    cursor: pointer;
    transition: background-color .5s, color .5s ease-in;
}
.psd-button.gh {
    width: auto;
    border: 2px solid #F5F8FA;
    border-radius: 10px 0px 0px 10px;
    border-style: solid none solid solid;
}
.psd-button.ll {
    width: auto;
    border: 2px solid #F5F8FA;
    border-radius: 0px 10px 10px 0px;
    border-style: solid solid solid none;
}
.psd-button:hover {
    background-color:burlywood;   
}



@media screen and (max-width: 815px) {
    .psd-left-container{
        height: auto;
        width: 100%;
        border-radius: 20px 20px 0px 0px;

        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .psd-left-image-container {
        height: auto;
        width: inherit;
        min-height: 0;

        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .psd-left-image {
        height: 300px;
        width: 100%;
    }
    .psd-left-image:hover{
        outline: none;
        cursor: default;
    }
    .psd-left-image:active{
        width: 100%;
        height: auto;
        cursor: default;
    }

    .psd-right-container {
        height: auto;
        width: 100%;
        min-height: 0;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;

        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        justify-content: center;

        border-radius: 0px 0px 20px 20px;
        outline: none;
    }
    .psd-info-container {
        width: 100%;
    }
    .psd-title{
        padding-top: 10px;
        font-size: 2em;
    }
    .psd-descript{
        font-size: 1.3em;
    }
    .psd-text{
        padding-top: 10px;
        font-size: 1em;
    }
}

@media screen and (max-width: 420px) {
    .psd-link-container {
        width: 100%;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-between;

        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .psd-button.gh{
        width: 100%;
        height: 75px;
        border-radius: 7px;
        background-color: #F5F8FA;
        border: none;
        color: #14171A;
    }
    .psd-button.ll{
        width: 100%;
        height: 75px;
        border-radius: 7px;
        background-color: #F5F8FA;
        border: none;
        color: #14171A;
    }
    .psd-button:hover {
        background-color:#F5F8FA;
    }
}