#projects{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #F5F8FA;
}
.pd-left-container{
    background-color: rgb(126, 28, 28);
    border-radius: 20px 0px 0px 20px;
    height: 75vh;
    min-height: 500px;
    
    width: calc(50% - 40px);
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.pd-info-container{
    position: relative;
    width: 65%;
    right: 75px;
    text-align: center;
}
.pd-title{
    font-size: 2em;
}
.pd-text{
    font-size: 1em;
    padding-top: 20px;
}
.pd-link-container{
    padding: 25px;
    display: flex;
    justify-content: center;
}
.pd-button{
    width: 125px;
    height: 55px; 
    background-color: #14171A;
    color: #F5F8FA;

    font-size: 1.3em;
    cursor: pointer;
    transition: background-color .5s, color .5s ease-in;
}
.pd-button.yt{
    width: 75px;
    border: 2px solid #F5F8FA;
    border-radius: 10px 0px 0px 10px;
    border-style: solid none solid solid;
}

.pd-button.gg{
    width: 110px;
    border: 2px solid #F5F8FA;
    border-radius: 0px 10px 10px 0px;
    border-style: solid solid solid none;
}
.pd-button:hover{
    background-color: #1DA1F2;
}

.pd-right-container{
    margin-top: 30px;
    background-color: rgb(126, 28, 28);
    border-radius: 0px 20px 20px 0px;

    width: calc(50% - 40px);
    height: auto;
    margin-right: 40px;
}
.pd-right-image-container{
    height: 75vh;
    min-height: 500px;

    display: flex;
    justify-content: flex-start;
    align-items: center;  
    overflow: hidden; 

    padding-right: 40px;
}
.right-test-image{
    height: 440px;
    width: 480px;
    background-color: #c1fbb0;
    border: 10px solid green;
}

@media screen and (max-width: 865px){
    #projects{
        height: auto;
        flex-wrap: wrap-reverse;
    }

    .pd-right-container{
        height: auto;
        width: 100%;
        border-radius: 20px 20px 0px 0px;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .pd-right-image-container{
        height: auto;
        width: inherit;
        min-height: 0;
        
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .right-test-image{
        height: 300px;
        width: 300px;
        background-color: #c1fbb0;
        border: 10px solid green;       
    }
  
    .pd-left-container{
        height: auto;
        width: 100%;
        min-height: 0;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;

        border-radius: 0px 0px 20px 20px;
        justify-content: center;
    }
    .pd-info-container{
        padding-top: 20px;
        right: 0;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .pd-text{
        padding-top: 10px;
    }
    .pd-link-container{
        padding-top: 20px;
        padding-bottom: 30px;
    }




}