#projects{
    height: 100vh;
    width: 100vh;
    
    display: flex;
    flex-wrap: wrap;
}
.pd-left-container{
    background-color: rgb(189, 189, 189);
    /* border: 4px dotted orange; */
    margin-top: 10vh;
    height: 75vh;
    
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.pd-info-container{
    /* background-color: rgba(232, 167, 54, 0.431);   */
    
    width: 400px;
    position: relative;
    right: 75px;
    text-align: center;

    /* margin-right: 10px; */
}

.pd-title{
    /* outline: 2px solid orange; */
    font-size: 2em;
    padding: 10px 0px 0px 0px;
}
.pd-text{
    /* outline: 2px solid plum; */
    font-size: 1em;
    padding: 20px 0px 0px 0px;
}

.pd-link-container{
    /* outline: 2px solid gainsboro; */
    padding: 15px;
    display: flex;
    justify-content: center;
}
.pd-button{
    width: 125px;
    height: 55px; 
    background-color: #c1fbb0;
    color: #54c531;

    border: 2.5px solid  #2f7819;
    font-size: 1.3em;
    transition: background-color .6s, color .5s, border .8s ease-in;
    cursor: pointer;
}
.pd-button.yt{
    width: 75px;
    border-radius: 12px 0px 0px 12px;
    border-style: solid none solid solid;
}
.pd-button.gg{
    width: 110px;
    border-radius: 0px 12px 12px 0px;
    border-style: solid solid solid none;
}
.pd-button:hover{
    background-color: black;
    color: white;
}
.pd-button.yt:hover{
    border: 2.5px solid white;
    border-style: solid none solid solid;
}
.pd-button.gg:hover{
    border: 2.5px solid white;
    border-style: solid solid solid none;
}




.pd-right-container{
    background-color: lightgoldenrodyellow;
    background-color: rgb(189, 189, 189);

    /* border: 3px dotted black; */
    margin-top: 10vh;
    width: 50%;
    height: 75vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    
}
.pd-right-image-container{
    height: 440px;
    width: 480px;
    background-color: #c1fbb0;
    border: 10px solid green;
    
    /* position: relative;
    left: -10px */
}
