/* Scroll To Top */
.scroll-button {
    position: fixed;
    bottom: 30px;
    right: 30px; 

    width: 50px;
    height: 50px;
    border-radius: 50%;
  
    cursor: pointer;
    
    
    
    border: 2px solid #657786;
    background-color: #F5F8FA;
    color: #657786;
    opacity: .6;  
    
    animation: fadeIn .7s;

    transition: background-color 1s, 
                color 1s, 
                border 1s,
                opacity 1s,
                box-shadow .25s 
                ease-in;

    z-index: 3;
    
  }
  .scroll-button:hover {
    border: 2px solid #14171A;
    background-color: #14171A;
    color: papayawhip;
    opacity: 1;
    box-shadow: 0px 2px 6px 3px papayawhip;
  }

  .s-arrow{
    font-size: 1.7em;    
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: .5;
    }
  }