.nav-bar {
  z-index: 5;
  position: fixed;
  top: 0;

  height: 15vh;
  width: 100%;
  padding: 0.5rem 0rem;

  background-color: black;
  --nav-font-color: #fbcfe0;
  color: var(--nav-font-color);
  
  user-select: none;
  display: flex;
  align-items: center;
    
  background: linear-gradient(to right, black 56%, transparent 57%);
  background-position: right;
  background-size: 200% 100%;
  transition: background 2s ease-in-out;
}
.nav-bar:hover {
  background-position: left;
}
.nav-bar:hover .nav-ul li{
  opacity: 1;
}

.active {
  text-decoration: underline;
}
.navlink {
  cursor: pointer;
}

.navlink.m {
  font-size: 1.5em;
  margin-left: 2rem;
}
.nav-menu-container {
  margin-left: auto;
}


.navlink:hover{
  text-decoration: underline;
}
.nav-ul {
  display: flex;
  font-size: 1.25em;
  margin-right: 1em;
}
.nav-ul li {
  list-style-type: none;
  margin: 0 1rem;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.nav-ul a:hover{
  text-decoration: underline;
}























.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;

  transition: background-color .2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: lightcyan;
}



@media screen and (max-width: 1000px) {
  .hamburger {
    display: block;
  }
  .ham {
    display: block;
  }
  .nav-menu.expanded ul {
    display: block;
    background-color: white;
    animation: hamburger-in .4s;
  }
  @keyframes hamburger-in {
    from {opacity: 0}
    to {opacity: 1} 
  }
  .nav-ul {
    z-index: 0;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    margin: 0px;
    height: calc(100vh - 60px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }
  .nav-ul li {
    text-align: center;
    margin: 0px;
    cursor: pointer;
  }
  .nav-ul li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .nav-ul li:hover {
    background-color: lightslategrey;
  }

}