.active {
  text-decoration: underline;
}

.nav-bar {
  z-index: 2;
  position: fixed;
  top: 0;

  height: 15vh;
  width: 100%;
  padding: 0.5rem 0rem;

  background-color: rgb(39, 39, 43);
  --nav-font-color: #f7f3d9;;
  --nav-font-color: #fbcfe0;
  color: var(--nav-font-color);
  
  user-select: none;
  display: flex;
  align-items: center;
    
  background: linear-gradient(to right, black 51%, transparent 58%);
  background-position: right;
  background-size: 200% 100%;
  transition: background 9s linear;
}
.nav-bar:hover {
  background-position: left;
  transition: background 1s linear;
}
.nav-bar:hover .nav-ul li{
  opacity: 1;
  transition: opacity .6s linear;
}

#nav-link-michael {
  font-size: 2em;
  cursor: pointer;
  padding: 30px;
  /* border: 1px solid orange; */
}
#nav-link-michael:hover {
  text-decoration: underline;
}


.nav-menu-container {
  margin-left: auto;
}
.nav-ul {
  display: flex;
  margin-right: 1em;
  justify-content: center;
  align-items: center;
}
.nav-ul li {
  list-style-type: none;
  padding: 30px;
  margin: 0 1rem;
  opacity: 0;
  transition: opacity 2s linear;
  /* outline: 1px solid orange; */
  /* opacity: 1; */
}
.nav-ul li:hover{
  text-decoration: underline;  
}
#nav-link-p{
  font-size: 1.5em;
  cursor: pointer;
}
#nav-link-c{
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
}

#nav-link-gh {
  margin: 0px -30px 0px -20px;
}
#nav-link-gh img{
  width: 90px;
  padding: 25px;
  /* outline: 1px solid orange; */
}
#nav-link-gh img:hover{
  transform: scale(1.3);
}

#nav-link-li{
  margin: 0px -20px 0px 0px;
}
#nav-link-li img{
  width: 90px;
  padding: 25px;
  /* outline: 1px solid orange; */
}
#nav-link-li img:hover{
  transform: scale(1.3);
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: lightcyan;
  cursor: pointer;

  transition: background-color .2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #ffdce9;
}


@media screen and (max-width: 865px) {
  #nav-link-michael{
    display: none;
  }
  .nav-bar{
    background-color: rgb(39, 39, 43);
    background-position: left;
    height: 80px;
    width: 100%;
  }

  .hamburger {
    display: block;
  }
  .nav-menu-container.expanded ul {
    display: block;
    background-color: white;
    animation: hamburger-in .4s;
  }
  @keyframes hamburger-in {
    from {opacity: 0}
    to {opacity: 1} 
  }

  .nav-ul {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);

    padding: 0;
    margin: 0px;

    background-color: white;
    display: none;
  }

  .nav-ul li {
    text-align: center; 
    width: 100%;
    margin: 0;
    opacity: 1;
    padding: 0;
  }

  #nav-link-p{
    /* border: 1px dotted orange; */
    margin: 0;
    padding: 50px 0px;
    /* justify-content: start; */
  }
  #nav-link-p-mobile{
    /* border: 1px solid blue; */
    position: relative;
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 50px;
  }
  #nav-link-p:hover{
    background-color: slategray;
    text-decoration: none;
  }
  #nav-link-p-mobile:hover{
    text-decoration: underline;
  }

  #nav-link-c{
    /* border: 1px dotted orange; */
    padding: 50px 0px;
  }
  #nav-link-c-mobile{
    /* border: 1px solid blue; */
    position: relative;
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 50px;
  }
  #nav-link-c:hover{
    background-color: slategray;
    text-decoration: none;
  }
  #nav-link-c-mobile:hover{
    text-decoration: underline;
  }
  
  #nav-link-gh{
    margin: 0px;
    /* border: 1px dotted orange; */
    padding: 20px 0px;
  }
  #nav-link-gh-mobile{
    /* border: 1px solid blue; */
    position: relative;
    padding-top: 90px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 18px;
  }
  #nav-link-gh:hover{
    background-color: slategray;
  }
  #nav-link-gh-mobile:hover img{
    transform: scale(1.5)
  }
   
  #nav-link-li{
    margin: 0px;
    /* border: 1px dotted orange; */
    padding: 20px 0px;
  }
  #nav-link-li-mobile{
    /* border: 1px solid blue; */
    position: relative;
    padding-top: 90px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 18px;
  }
  #nav-link-li:hover{
    background-color: slategray;
  }
  #nav-link-li-mobile:hover img{
    transform: scale(1.4)
  }

}