.active {
  text-decoration: underline;
}

.nav-bar {
  z-index: 2;
  position: fixed;
  top: 0;

  height: 15vh;
  width: 100%;
  padding: 0.5rem 0rem;

  --nav-font-color: #F5F8FA;
  
  user-select: none;
  display: flex;
  align-items: center;
    
  
  background: linear-gradient(to right, #14171A 52%, transparent 53%);
  background-position: right;
  background-size: 200% 100%;
  transition: background 4s linear;
}
.nav-bar:hover {
  background-position: left;
  transition: background 1s linear;
}
.nav-bar:hover .nav-ul li{
  z-index: 2;
  opacity: 1;
  transition: opacity .6s linear;
}

#nav-link-michael {
  /* border: 1px solid orange; */
  transform: rotate(-90deg);
  font-size: 1.35em;

  position: relative;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -16px;
  
  cursor: pointer;
  color:  var(--nav-font-color);
}
#nav-link-michael:hover {
  text-decoration: underline;
}


.nav-menu-container {
  margin-left: auto;
}
.nav-ul {
  display: flex;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}
.nav-ul li {
  color:  var(--nav-font-color);
  list-style-type: none;
  padding: 30px;
  margin: 0;
  opacity: 0;
  transition: opacity 2s linear;

}
.nav-ul li:hover{
  text-decoration: underline;  
}
#nav-link-p{
  font-size: 1.5em;
  cursor: pointer;
}
#nav-link-c{
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
}

#nav-link-gh {
  margin: 0px -40px 0px -10px;
}
#nav-link-gh img{
  width: 90px;
  padding: 25px;
  /* outline: 1px solid orange; */
}
#nav-link-gh img:hover{
  transform: scale(1.3);
}

#nav-link-li{
  margin: 0px -20px 0px 0px;
}
#nav-link-li img{
  width: 90px;
  padding: 25px;
  /* outline: 1px solid orange; */
}
#nav-link-li img:hover{
  transform: scale(1.3);
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;

  padding: 0.5rem;

  border-radius: 50%;
  background-color: #F5F8FA;
  
  
  cursor: pointer;
  transition: background-color .4s, border-radius .4s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #1DA1F2;
  border-radius: 0%;
}
.hamburger.expanded{
  border-radius: 0%;
}


@media screen and (max-width: 865px) {
  #nav-link-michael{
    display: none;
  }
  .nav-bar{
    background-position: left;
    height: 80px;
    width: 100%;
  }

  .hamburger {
    display: block;
  }
  .nav-menu-container.expanded ul {
    display: block;
    background-color:	#14171A;
    animation: hamburger-in .4s;
  }
  @keyframes hamburger-in {
    from {opacity: 0}
    to {opacity: 1} 
  }

  .nav-ul {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);

    padding: 0;
    margin: 0px;

    background-color: white;
    display: none;
  }

  .nav-ul li {
    text-align: center; 
    width: 100%;
    margin: 0;
    opacity: 1;
    padding: 0;
  }

  #nav-link-p{
    /* border: 1px dotted orange; */
    margin: 0;
    padding: 50px 0px;
    /* justify-content: start; */
  }
  #nav-link-p-mobile{
    /* border: 1px solid blue; */
    position: relative;
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 50px;
  }
  #nav-link-p:hover{
    background-color: #1DA1F2;
    text-decoration: none;
  }
  #nav-link-p-mobile:hover{
    text-decoration: underline;
  }

  #nav-link-c{
    padding: 50px 0px;
  }
  #nav-link-c-mobile{
    position: relative;
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 50px;
  }
  #nav-link-c:hover{
    background-color: #1DA1F2;
    text-decoration: none;
  }
  #nav-link-c-mobile:hover{
    text-decoration: underline;
  }
  
  #nav-link-gh{
    margin: 0px;
    padding: 10px 0px -10px 0px;
  }
  #nav-link-gh-mobile{
    position: relative;
    padding-top: 70px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 0px;
  }
  #nav-link-gh:hover{
    background-color: #1DA1F2;
  }
  #nav-link-gh-mobile:hover img{
    transform: scale(1.3)
  }
   
  #nav-link-li{
    margin: 0px;
    padding: 10px 0px -10px 0px;
  }
  #nav-link-li-mobile{
    position: relative;
    padding-top: 70px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 0px;
  }
  #nav-link-li:hover{
    background-color: #657786
    
  }
  #nav-link-li-mobile:hover img{
    transform: scale(1.3);
  }

}