.nav-header {
    position: sticky;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    top: 0px;
    min-height: 70px;
    width: 100%;

    background-color: lightsalmon;
    box-shadow: 0 1rem 1rem 0 rgb(0 0 0 / 11%); 
} 

.nav-home {
    color: blue;
    position: absolute;
    left: 2%;
}

.nav-ul {
    display: flex;
    align-items: center;
    
    list-style: none;
    gap: 2rem;
    padding: 0px 30px;
}

.nav-ul li {
    cursor: pointer;
}
.nav-li:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
}



#nav-checkbox {
    position: relative;
    cursor: pointer;
}

#nav-checkbox input {
    width: 40px;
    height: 40px;
}

#nav-checkbox input:checked~ul {
    display: show;
}

@media only screen and (max-width: 1000px){
    .nav-ul{
        display: none
    }
    #nav-checkbox {
        display: show;
    }
}

@media only screen and (min-width: 1000.5px){
    #nav-checkbox {
        display: show;
    }
}