.active {
  font-weight: bold;
}


.nav-bar {
  position: fixed;
  top: 0;
  height: 10vh;

  user-select: none;

  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: lightgoldenrodyellow;
  color: black;
  box-shadow: 0px 0px 10px 2px rgba(9, 9, 9, 0.23);

}
.nav-home {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;

  font-weight: bold;
  cursor: pointer;
}



.nav-menu {
  margin-left: auto;
}
.nav-ul {
  display: flex;
}
.nav-ul li {
  list-style-type: none;
  margin: 0 1rem;
  cursor: pointer;
}
.nav-ul li a {
  text-decoration: none;
  display: block;
  width: 100%;
}



.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;

  transition: background-color .2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: lightcyan;
}



/* 
.ham-container {
  text-align: center;
  justify-content: center;
  
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: block;
}

.ham {
  
  display: none;
  width: 33px;
  height: 4px;
  margin-bottom: 4px;
  position: relative;

  background-color: orange;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 0% 0%;
  
  transition: 
              transform 0.5s ease-in-out,
              background-color 0.5s ease-in-out,
              opacity 0.55s ease;
}
.ham.off.t{
  background-color: blue;

}
.ham.off.b{
  background-color: green;
}
.ham.on.t{ 
  left: 3px;
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -3px);
  background: #232323;
}
.ham.on.m{
  opacity: 0;
  transform: rotate(0deg) scale(10%);
}
.ham.on.b{
  opacity: 1;
  transform: rotate(-45deg) translate(-3px, 50%);
  background: #232323;
} 

*/





@media screen and (max-width: 1000px) {
  .hamburger {
    display: block;
  }
  .ham {
    display: block;
  }
  .nav-menu.expanded ul {
    display: block;
    background-color: white;
    animation: hamburger-in .4s;
  }
  @keyframes hamburger-in {
    from {opacity: 0}
    to {opacity: 1} 
  }
  .nav-ul {
    z-index: 0;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    margin: 0px;
    height: calc(100vh - 60px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }
  .nav-ul li {
    text-align: center;
    margin: 0px;
    cursor: pointer;
  }
  .nav-ul li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .nav-ul li:hover {
    background-color: lightslategrey;
  }

}