.active {
  text-decoration: underline;
}

.nav-bar {
  z-index: 2;
  position: fixed;
  top: 0;

  height: 15vh;
  width: 100%;
  padding: 0.5rem 0rem;

  background-color: black;
  --nav-font-color: #fbcfe0;
  color: var(--nav-font-color);
  
  user-select: none;
  display: flex;
  align-items: center;
    
  background: linear-gradient(to right, black 51%, transparent 58%);
  background-position: right;
  background-size: 200% 100%;
  transition: background 9s linear;
}
.nav-bar:hover {
  background-position: left;
  transition: background 1s linear;
}
.nav-bar:hover .nav-ul li{
  opacity: 1;
  transition: opacity .6s linear;
}

#nav-link-michael {
  /* outline: 1px solid orange; */
  font-size: 1.5em;
  cursor: pointer;
  padding: 30px;
}
#nav-link-michael:hover {
  text-decoration: underline;
}


.nav-menu-container {
  margin-left: auto;
}
.nav-ul {
  display: flex;
  margin-right: 1em;
  justify-content: center;
  align-items: center;
}
.nav-ul li {
  list-style-type: none;
  padding: 20px;
  margin: 0 1rem;
  opacity: 0;
  transition: opacity 2s linear;
  /* outline: 1px solid orange; */
  /* opacity: 1; */
}
.nav-ul li:hover{
  text-decoration: underline;  
}
#nav-link-p{
  font-size: 2.5em;
  cursor: pointer;
}
#nav-link-c{
  font-size: 2.5em;
  cursor: pointer;
}

#nav-link-gh {
  margin: 0px -30px 0px -20px;
}
#nav-link-gh img{
  width: 90px;
  padding: 25px;
  /* outline: 1px solid orange; */
}
#nav-link-gh img:hover{
  transform: scale(1.3);
}

#nav-link-li{
  margin: 0px -20px 0px 0px;
}
#nav-link-li img{
  width: 90px;
  padding: 25px;
  /* outline: 1px solid orange; */
}
#nav-link-li img:hover{
  transform: scale(1.3);
}



























.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;

  transition: background-color .2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: lightcyan;
}



@media screen and (max-width: 1000px) {
  .hamburger {
    display: block;
  }
  .ham {
    display: block;
  }
  .nav-menu.expanded ul {
    display: block;
    background-color: white;
    animation: hamburger-in .4s;
  }
  @keyframes hamburger-in {
    from {opacity: 0}
    to {opacity: 1} 
  }
  .nav-ul {
    z-index: 0;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    margin: 0px;
    height: calc(100vh - 60px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }
  .nav-ul li {
    text-align: center;
    margin: 0px;
    cursor: pointer;
  }
  .nav-ul li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .nav-ul li:hover {
    background-color: lightslategrey;
  }

}