#project-section-c {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #F5F8FA;
    border: 5px solid red;
}


.psc-left-container {
    margin-top: 40px;
    margin-left: 40px;

    height: 20vh;
    width: 33%;
    background-color: forestgreen;
    border-radius: 20px 0px 0px 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.psc-title{
    height: auto;
    width: auto;
    font-size: 3em;
    border: 2px solid orange;
}



/* .psc-right-container {
    margin-top: 40px;
    margin-right: 40px;

    height: 75vh;
    min-height: 500px;
    width: calc(50% - 40px);

    background-color: steelblue;
    border-radius: 0px 20px 20px 0px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.psc-info-container {    
    height: auto;
    width: 400px;
    margin-left: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
}
.psc-title {
    font-size: 2em;
}
.psc-text {
    font-size: 1em;
    padding-top: 20px;
}
.psc-link-container {
    padding: 25px;
}
.psc-button {
    width: 125px;
    height: 55px;
    background-color: #14171A;
    color: #F5F8FA;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    cursor: pointer;
    transition: background-color .5s, color .5s ease-in;
}
.psc-button.gh {
    width: auto;
    border: 2px solid #F5F8FA;
    border-radius: 10px 0px 0px 10px;
    border-style: solid none solid solid;
}
.psc-button.ll {
    width: auto;
    border: 2px solid #F5F8FA;
    border-radius: 0px 10px 10px 0px;
    border-style: solid solid solid none;
}
.psc-button:hover {
    background-color: #1DA1F2;
} */



/* @media screen and (max-width: 865px) {
    .psc-left-container {
        height: auto;
        width: 100%;
        border-radius: 20px 20px 0px 0px;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .psc-left-image-container {
        height: auto;
        width: inherit;
        min-height: 0;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .psc-left-image {
        height: 300px;
        width: 300px;
    }
    .psc-left-image:hover{
        outline: none;
        cursor: default;
    }
    .psc-left-image:active{
        width: 90%;
        height: auto;
        cursor: default;
    }

    .psc-right-container {
        height: auto;
        width: 100%;
        min-height: 0;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;

        border-radius: 0px 0px 20px 20px;
        justify-content: center;
    }
    .psc-info-container {
        padding-top: 20px;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .psc-text{
        padding-top: 10px;
    }
} */

/* @media screen and (max-width: 420px) {
    .psc-link-container {
        width: 100%;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;

        padding-top: 25px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
    }
    .psc-button.gh{
        width: 100%;
        height: 75px;
        border-radius: 7px;
        background-color: #F5F8FA;
        border: none;
        color: #14171A;
    }
    .psc-button.ll{
        width: 100%;
        height: 75px;
        border-radius: 7px;
        background-color: #F5F8FA;
        border: none;
        color: #14171A;
    }
    .psc-button:hover {
        background-color:#F5F8FA;
    }
} */