#project-section-c {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    color: whitesmoke;
}

.psc-left-container {
    margin-top: 40px;
    margin-left: 40px;

    height: 30vh;
    min-height: 210px;
    width: 30%;

    background-color: forestgreen;
    border-radius: 20px 0px 0px 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.psc-title{
    height: auto;
    width: auto;
    font-size: 3em;
}

.psc-middle-container{
    margin-top: 40px;

    height: 30vh;
    min-height: 210px;
    width: 40%;

    background-color: forestgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.psc-text{
    font-size: 1.2em;
    text-align: center;
}

.psc-right-container{
    margin-top: 40px;
    margin-right: 40px;

    height: 30vh;
    min-height: 210px;
    width: 30%;
    
    background-color: forestgreen;
    border-radius: 0px 20px 20px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.psc-button {
    width: 125px;
    height: 55px;
    background-color: #14171A;
    color: #F5F8FA;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    cursor: pointer;
    transition: background-color .5s, color .5s ease-in;
}
.psc-button.gh {
    width: auto;
    border: 2px solid #F5F8FA;
    border-radius: 10px 0px 0px 10px;
    border-style: solid none solid solid;
}
.psc-button.ll {
    width: auto;
    border: 2px solid #F5F8FA;
    border-radius: 0px 10px 10px 0px;
    border-style: solid solid solid none;
}
.psc-button:hover {
    background-color: gold;
} 



@media screen and (max-width: 890px) {
    .psc-left-container {
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .psc-middle-container{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .psc-text{
        overflow: auto;
    }
    .psc-right-container{
        height: 30vh;
        margin-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .psc-link-container{
        height: 100%;
        width: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .psc-button.gh{
        width: 130px;
        border-radius: 10px;
        border-style: solid;
    }
    .psc-button.ll{
        width: 130px;
        border-radius: 10px;
        border-style: solid;
    }
}
@media screen and (max-width: 750px){
    .psc-title{
        font-size: 2em;
        padding-left: 20px;
        padding-right: 20px;
    }
    .psc-middle-container{
        font-size: 1em;
    }
    .psc-text{
        height: 100%;
        text-align: start;
        border: 1px dashed white;
        padding-right: 20px;
        padding-left: 5px;
        font-size: 1em;
    }
    .psc-right-container{
        padding-left: 20px;
        padding-right: 20px;
    }
}








@media screen and (max-width: 430px) {
    #project-section-c{
        flex-wrap: wrap;
    }
    .psc-left-container{
        height: auto;
        min-height: 100px;
        width: 100%;

        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 20px 20px 0px 0px;
        
    }
    .psc-title{
        font-size: 2em;
    }
    .psc-middle-container{
        height: auto;
        min-height: 180px;
        width: 100%;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;

        padding-top: 0px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 0px;
    }
    .psc-text{
        text-align: center;
        border: none;
        padding-right: 0px;
        padding-left: 0px;
    }
    .psc-right-container{
        width: 100%;
        height: auto;
        min-height: 100%;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;

        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
                
        border-radius: 0px 0px 20px 20px;
    }
    .psc-link-container{
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    .psc-button.gh{
        width: 100%;
        height: 75px;
        border-radius: 7px;
        background-color: #F5F8FA;
        border: none;
        color: #14171A;
    }
    .psc-button.ll{
        width: 100%;
        height: 75px;
        border-radius: 7px;
        background-color: #F5F8FA;
        border: none;
        color: #14171A;
    }
    .psc-button:hover {
        background-color:#F5F8FA;
    }
}