#about{
    /* border: 4px dotted yellow; */
    background-color: rgb(42, 84, 28);
    background: linear-gradient(#2a541c, #447633);

    height: 40vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    color: #ffaca3;
;
} 

.about-container{
    /* border: 2px dotted lightcoral; */

    height: inherit;
    width: 100vw;

    display: flex;
    justify-content: center;;
    align-items: flex-start;
    text-align: justify;

    overflow: auto;
    font-size: 1.1em;


    
}
.about-text{
    width: 1000px;
}