#about{
    height: auto;
    width: 100%;
  
    

    display: flex;
    justify-content: center;
    align-items: flex-start;
} 

.about-container{
    height: 40vh;
    width: 100%;
    border-radius: 20px;
    background-color: #F5F8FA;

    margin-left: 40px;
    margin-right: 40px;

    margin-bottom: 40px;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    
    font-size: 1.1em;   
}
.about-text{
    /* border: 2px dotted lightcoral; */
    height: 90%;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;

    padding-right: 20px;
    overflow: auto;
}

#skip-to-project{
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}


@media only screen and (max-width: 640px){
    #about{
        height: auto;
    }
    .about-container {
        height: auto;
        margin-top: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
    .about-text{
        height: auto;
        margin: 0;
        text-align: center;
        padding: 0px 30px;
    }
}