#about{
    height: auto;
    width: 100%;  

    display: flex;
    justify-content: center;
    align-items: flex-start;
} 

.about-container{
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    background-color: #F5F8FA;

    margin-left: 40px;
    margin-right: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 1.1em;   
}
.about-text{
    height: 90%;
    max-width: 800px;

    margin-left: 10px;
    margin-right: 10px;

    padding-top: 30px;
    padding-right: 30px;
    overflow: auto;
}
#skip-to-project{
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}


@media only screen and (max-width: 865px){
    #about{
        height: auto;
    }
    .about-container {
        height: auto;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .about-text{
        height: 50vh;
        margin: 0;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-text ul{
        text-align: start;
    }
}