#about{
    /* border: 4px dotted yellow; */
    background-color: #fcd0de;

    height: 40vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
} 

.about-container{
    border: 2px dotted lightcoral;

    height: inherit;
    width: 100vw;

    display: flex;
    justify-content: center;;
    align-items: flex-start;
    text-align: justify;

    overflow: auto;
    font-size: 1.1em;
}
.about-text{
    width: 1000px;
}