#project-section-a {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #F5F8FA;
}
.psa-left-container {
    margin-top: 40px;
    margin-left: 40px;

    height: 75vh;
    width: calc(50% - 40px);
    background-color: steelblue;
    /* background-image: url("paper.gif"); */
    border-radius: 20px 0px 0px 20px;
}
.psa-left-image-container {
    height: 75vh;
    min-height: 500px;
    padding-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.psa-left-image {
    min-height: 400px;
    width: 90%;
    object-fit: cover;
    border-radius: 20px;
    
}
.psa-left-image:hover{
    outline: 2px solid #F5F8FA;
    cursor: zoom-in;
}
.psa-left-image:active{
    width: 110%;
    height: 100%;
    object-fit: cover;
    cursor: grabbing;
}



.psa-right-container {
    margin-top: 40px;
    margin-right: 40px;

    height: 75vh;
    min-height: 500px;
    width: calc(50% - 40px);

    background-color: steelblue;
    /* background-image: url("paper.gif"); */
    border-radius: 0px 20px 20px 0px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.psa-info-container {    
    height: auto;
    width: 400px;
    margin-left: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
}
.psa-title {
    font-size: 2em;
}
.psa-text {
    font-size: 1em;
    padding-top: 20px;
}
.psa-link-container {
    padding: 25px;
}
.psa-button {
    width: 125px;
    height: 55px;
    background-color: #14171A;
    color: #F5F8FA;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    cursor: pointer;
    transition: background-color .5s, color .5s ease-in;
}
.psa-button.gh {
    width: auto;
    border: 2px solid #F5F8FA;
    border-radius: 10px 0px 0px 10px;
    border-style: solid none solid solid;
}
.psa-button.ll {
    width: auto;
    border: 2px solid #F5F8FA;
    border-radius: 0px 10px 10px 0px;
    border-style: solid solid solid none;
}
.psa-button:hover {
    background-color: #1DA1F2;
}



@media screen and (max-width: 865px) {
    .psa-left-container {
        height: auto;
        width: 100%;
        border-radius: 20px 20px 0px 0px;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .psa-left-image-container {
        height: auto;
        width: inherit;
        min-height: 0;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .psa-left-image {
        height: 300px;
        width: 300px;
    }
    .psa-left-image:hover{
        outline: none;
        cursor: default;
    }
    .psa-left-image:active{
        width: 90%;
        height: auto;
        cursor: default;
    }

    .psa-right-container {
        height: auto;
        width: 100%;
        min-height: 0;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;

        border-radius: 0px 0px 20px 20px;
        justify-content: center;
    }
    .psa-info-container {
        padding-top: 20px;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .psa-text{
        padding-top: 10px;
    }
}

@media screen and (max-width: 420px) {
    .psa-link-container {
        width: 100%;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;

        padding-top: 25px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
    }
    .psa-button.gh{
        width: 100%;
        height: 75px;
        border-radius: 7px;
        background-color: #F5F8FA;
        border: none;
        color: #14171A;
    }
    .psa-button.ll{
        width: 100%;
        height: 75px;
        border-radius: 7px;
        background-color: #F5F8FA;
        border: none;
        color: #14171A;
    }
    .psa-button:hover {
        background-color:#F5F8FA;
    }
}