#project-section-a {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #F5F8FA;
}
.pa-left-container {
    height: 75vh;
    width: calc(50% - 40px);
    margin-top: 30px;
    margin-left: 40px;
    background-color: steelblue;
    /* background-image: url("paper.gif"); */
    border-radius: 20px 0px 0px 20px;
}
.pa-left-image-container {
    height: 75vh;
    min-height: 500px;
    padding-left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.pa-left-image {
    min-height: 400px;
    width: 90%;
    object-fit: cover;
    border-radius: 20px;
    
}
.pa-left-image:hover{
    outline: 2px solid #F5F8FA;
    cursor: zoom-in;
}
.pa-left-image:active{
    width: 110%;
    height: 100%;
    object-fit: cover;
    cursor: grabbing;
}



.pa-right-container {
    height: 75vh;
    min-height: 500px;
    width: calc(50% - 40px);

    background-color: steelblue;
    /* background-image: url("paper.gif"); */
    border-radius: 0px 20px 20px 0px;

    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 5px solid orange; */
}
.pa-info-container {    
    height: auto;
    width: 400px;
    margin-left: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    /* border: 5px solid orange; */
}
.pa-title {
    font-size: 2em;
}
.pa-text {
    font-size: 1em;
    padding-top: 20px;
}
.pa-link-container {
    padding: 25px;
}
.pa-button {
    width: 125px;
    height: 55px;
    background-color: #14171A;
    color: #F5F8FA;

    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.3em;
    cursor: pointer;
    transition: background-color .5s, color .5s ease-in;
}
.pa-button.gh {
    width: auto;
    border: 2px solid #F5F8FA;
    border-radius: 10px 0px 0px 10px;
    border-style: solid none solid solid;
}
.pa-button.ll {
    width: auto;
    border: 2px solid #F5F8FA;
    border-radius: 0px 10px 10px 0px;
    border-style: solid solid solid none;
}
.pa-button:hover {
    background-color: #1DA1F2;
}



@media screen and (max-width: 865px) {
    .pa-left-container {
        height: auto;
        width: 100%;
        border-radius: 20px 20px 0px 0px;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .pa-left-image-container {
        height: auto;
        width: inherit;
        min-height: 0;
        padding-top: 20px;
    }
    .pa-left-test-image {
        height: 300px;
        width: 300px;
    }

    .pa-right-container {
        height: auto;
        width: 100%;
        min-height: 0;

        margin-top: 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;

        border-radius: 0px 0px 20px 20px;
        justify-content: center;
    }
    .pa-info-container {
        padding-top: 20px;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .pa-left-image:hover{
        outline: none;
        cursor: default;
    }
    .pa-left-image:active{
        width: 90%;
        height: auto;
        cursor: default;
    }

}

@media screen and (max-width: 400px) {
    .pa-link-container {
        width: 100%;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        /* outline: 4px solid yellow; */
    }
    .pa-button.gh{
        width: 110px;
        height: 80px;
        border-style: solid;
        border-radius: 10px;
        padding: 0;
        
    }
    .pa-button.ll{
        width: 110px;
        height: 80px;
        border-style: solid;
        border-radius: 10px;
    }
}