* {
  box-sizing: border-box;
}

/* change later, individual section may need different height */
section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
  /* background-color: gray; */
  /* border: 5px dotted orange; */
}

#projects, #linkedin {
  color: #3b3b3c;
  background: #eaf2fa;
}



