section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
  /* background-color: gray; */
  /* border: 5px dotted orange; */
}

#about {
  margin-top: -80px;
  background: gray;
}

#projects, #contact {
  color: #3b3b3c;
  background: #eaf2fa;
}





.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 100px;
  background: orange;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
  background: red;
}