section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
  /* background-color: gray; */
  /* border: 5px dotted orange; */
}

#about {
  margin-top: -80px;
  background: gray;
}

#projects, #contact {
  color: #3b3b3c;
  background: #eaf2fa;
}


.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px; 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;

  
  cursor: pointer;
  
  opacity: 0.5;
  transition: opacity 0.4s;

  /* z-index: 1000; */
  /* animation: fadeIn 0.3s; */
  /* align-items: center; */
  /* justify-content: center; */

}

.back-to-top:hover {
  opacity: 1;
}


/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
} */